services:
  db:
    image: mysql:8.0
    container_name: cipe_mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      retries: 5
      start_period: 30s
      timeout: 10s

  seaweedfs:
    image: chrislusf/seaweedfs
    container_name: cipe_seaweedfs
    restart: unless-stopped
    ports:
      - "9000:8333" # API S3
      - "8888:8888" # Filer
      - "9333:9333" # Master
    command: 'server -dir=/data -s3 -s3.port=8333 -s3.config=/etc/seaweedfs/s3_config.json -ip.bind=0.0.0.0'
    volumes:
      - seaweedfs_data:/data
      - ./s3_config.json:/etc/seaweedfs/s3_config.json:z
    networks:
      - app-network

volumes:
  mysql_data:
  seaweedfs_data:

networks:
  app-network:
    driver: bridge